:root {
  --clr-pri-red-hsl: 1, 90%, 64%;
  --clr-pri-blue-hsl: 219, 85%, 26%;

  --clr-neu-white-hsl: 0, 0%, 100%;
  --clr-neu-very-light-grayish-blue-hsl: 210, 60%, 98%;
  --clr-neu-light-grayish-blue-1-hsl: 211, 68%, 94%;
  --clr-neu-light-grayish-blue-2-hsl: 205, 33%, 90%;
  --clr-neu-grayish-blue-hsl: 219, 14%, 63%;
  --clr-neu-dark-grayish-blue-hsl: 219, 12%, 42%;
  --clr-neu-very-dark-blue-hsl: 224, 21%, 14%;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  font: inherit;
  font-family: "Plus Jakarta Sans", sans-serif;
}

img {
  display: block;
  max-width: 100%;
}

.main {
  margin: 2rem 1rem;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1.5rem;
}

.header-left {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

h1 {
  font-size: 1.35rem;
  font-weight: 800;
}

.notifications-counter {
  padding: 0.25rem 0.75rem;
  border-radius: 5px;
  font-weight: 800;
  background-color: hsl(var(--clr-pri-blue-hsl));
  color: hsl(var(--clr-neu-white-hsl));
}

.mark-read-btn {
  background-color: transparent;
  border-width: 0;
  font-family: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  line-height: inherit;
  padding: 0;
  color: hsl(var(--clr-neu-dark-grayish-blue-hsl));
}

.notification-list {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  font-size: 0.9rem;
  line-height: 1.2rem;
}

.notification-div {
  border-radius: 5px;
  display: flex;
  padding: 1rem;
  gap: 1rem;
}

.unread-bg {
  background-color: hsl(var(--clr-neu-very-light-grayish-blue-hsl));
}

.avatar img {
  height: 40px;
  min-width: 40px;
}

.notification-text {
  color: hsla(var(--clr-neu-dark-grayish-blue-hsl), 0.7);
  font-weight: 800;
}

.notification-time {
  opacity: 0.3;
  margin-top: 0.25rem;
}

.notification-name {
  color: black;
  opacity: 1;
  margin-right: 0.25rem;
}

.notification-target {
  color: hsl(var(--clr-pri-blue-hsl));
  opacity: 1;
  margin-left: 0.25rem;
}

.unread-dot {
  height: 9px;
  width: 9px;
  background-color: hsl(var(--clr-pri-red-hsl));
  border-radius: 50%;
  display: inline-block;
  margin-left: 0.25rem;
}

.message-div {
  border: solid 1px hsla(var(--clr-neu-grayish-blue-hsl), 0.6);
  border-radius: 5px;
  padding: 0.5rem;
  padding-right: 1rem;
  color: hsl(var(--clr-neu-dark-grayish-blue-hsl));
  margin-top: 0.5rem;
}

.comment-pic {
  height: 35px;
  width: 35px;
  margin: auto;
}